
<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
	<tbody>
		<tr>
			<% if action_name == 'edit' %>
			<td>Username: </td><td><%= @user.username %></td>
			<% else %>
			<td><%= f.label :username %></td>
			<td><%= f.text_field :username %></td>
			<% end %>
		</tr>
		<tr>
			<td><%= f.label :email %></td>
			<td><%= f.text_field :email %></td>
		</tr>
		<tr>
			<td><%= f.label :password %></td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td><%= f.label :password_confirmation %></td>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<tr>
			<td colspan="2"><%= f.submit %></td>
		</tr>
	</tbody>
</table>
<% end %>
