<div class="users_form">
	<%= form_for(@user, :html => { :multipart => true }) do |f| %>
		<%= render "shared/error_messages", :target => @user %>

		<% unless action_name == 'edit' %>
			<div class="field">
				<%= f.label :username %>
				<%= f.text_field :username %>
			</div>
		<% end %>
		<div class="field">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</div>
		<div class="submit field">
			<%= f.submit %>
		</div>
	<% end %>
</div>
