<h1><%= @user == current_user ? "Your" : @user.username.capitalize+"'s" %> Images</h1>
<%# TODO: Wouldn't it be nice if there was a "follow user" button here %>
<%# https://github.com/tcocca/acts_as_follower/ perhaps? %>

<%# TODO: If no posts found, show "why don't you post something" message here %>
<%= render 'posts/new_link' %>
<%= render '/posts/list' %>

<p>
  <strong>Reputation: </strong><%= @user.author_score %>
  The score you have received from the images you've posted.  This currently gives you a casting power of <%= @user.casting_power %> for your votes.
</p>

<%# link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
