<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<%= render 'posts/new_link' %>

<h1><%= @user.username %>'s Posts</h1>
<%= render '/posts/list' %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
