<% @post.tags.build %>
<%= form_for(@post,:html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<canvas datasrc="/pjs/draw-processing.pjs" id="canvas" width="800" height="600" tabindex="0">
		<p>Sorry, you should really upgrade your browser.</p>
	</canvas>
	<div id="ajax_out">Ajax out: </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
	<div class="field">
		<%= f.label :photo %>
		<%= f.file_field :photo %>
	</div>
	
<h2>Tags</h2>
<%= render :partial => 'tags/form', :locals => {:form => f} %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
