<% content_for :head do %>
<%= stylesheet_link_tag "canvas" %>
<%= javascript_include_tag "lib/jquery.form" %>
<%= javascript_include_tag "lib/processing" %>
<%= javascript_include_tag "canvas_upload" %>
<% end %>

<div id="canvas_container">
	<canvas datasrc="/pjs/draw-processing.pjs" id="canvas" width="640" height="427" tabindex="0">
		<p>Sorry, you should really upgrade your browser.</p>
	</canvas>
</div>
<div class="canvas_tools">
	<div class="left">
		<a href="#" class="tool crop"></a>
		<a href="#" class="tool pencil"></a>
	</div>
	<div class="right">
		<a href="#" id="save">Save</a>
	</div>
</div>

<% @post.tags.build %>
<%= form_for(@post,:html => { :multipart => true }, :remote => true) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%# TODO: Move post meta fields into toolbar and check them with JS before save attempt %>

	<div class="ajax_message"></div>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title, :placeholder => 'Untitled' %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description, :rows => 5 %>
	</div>
	<div class="field">
		<%= f.label :tag_names %><br />
		<%= f.text_field :tag_names %>
	</div>

	<%= f.hidden_field :attachment64 %>
	<%= f.hidden_field :relation_id, :value => @post_parent.id if @post_parent %>

	<%= f.submit %>
	<div class="ajax_status"></div>
	
<% end %>
