<% @posts.each do |post| %>
  <div class="post small">
	<div class="image">
	<% if post.photo.exists? then %>
	<%= link_to(image_tag(post.photo.url(:small), :alt => post.title), post) %>
	<% else %>
	No photos here
	<% end %>
	</div>
	<div class="info">
		<h3 class="title"><%= post.title %></h3>
		<span class="author">by <%= link_to post.user.username, name_user_path(post.user.username) %></span>
		<%= render :partial => 'posts/ranking', :locals => { :post => post } %>
	<% if belongs_to_current_user(post) %>
		<div class="actions">
    		<%= link_to content_tag(:span, 'Edit'), edit_post_path(post), :class => 'edit' %>
    		<%= link_to content_tag(:span, 'Delete'), post, :class => 'delete', :confirm => 'Are you sure?', :method => :delete %>
		</div>
	<% end %>
  	</div>
  </div>
<% end %>

<%= paginate @posts %>