<div id="index">
<% @posts.each do |post| %><div class="thumb" id="post_<%= post.id %>">
    <% if post.photo.exists? then %>
      <%= image_tag(post.photo.url(:thumb), :alt => post.title, :class => 'pic') %>
	<%# render :partial => 'posts/ranking', :locals => { :post => post } %>
        <div class="overlay">
            <div class="actions">
                <%= link_to( content_tag("span", "Inspect"), post, :class => "inspect" ) %>
                <%= link_to( content_tag("span", "Vote"), vote_path(post), :class => "vote" ) %>
            </div>
        </div>
    <% else %>
      Error! Post has no photo.
    <% end %>
  </div><% end %>
</div>
<%= paginate @posts %>
