<% content_for :head do %>
	<%= stylesheet_link_tag "canvas" %>
	<%= javascript_include_tag "lib/jquery.form" %>
	<%= javascript_include_tag "lib/processing" %>
	<%= javascript_include_tag "canvas_upload" %>
	<% if action_name == 'new_child' %>
		<script type="text/javascript">
			$(document).ready(function(){
				// see processingReady()
				pjsReadyFn['load_image_for_edit'] = function() {
					loadRemoteImage('<%= @post_parent.photo.url(:medium) if @post_parent.photo.exists? %>');
				}
			});
		</script>
	<% end %>
<% end %>
<div id="posts_new">
	<div id="title_strip">
		<h1>New Image</h1>
		<div class="actions">
			<select id="select_tool" class="grey select_tool">
				<option value="none" selected="yes">Select Tool</option>
				<option value="0">Crop &amp; Scale</option>
				<option value="1">Ellipse</option>
				<option value="2">Rectangle</option>
			</select>
			<a href="#" id="save_post" class="button green">Save</a>
		</div>
	</div>
	<div id="canvas_container">
		<canvas datasrc="/assets/draw-processing.pjs /assets/tools.pjs" id="canvas" width="640" height="427" tabindex="0">
			<p>Sorry, you should really upgrade your browser.</p>
		</canvas>
	</div>
	
	<%= render 'form' %>
</div>
<%# link_to 'Back', posts_path %>
