<div class="full_image">
    <% if @post.photo.exists? then %>
        <%= image_tag @post.photo.url(:original), :class => 'medium' %><%# TODO: Should show full screen on click %>
    <% else %>
        <p>Error: No photo.</p>
    <% end %>
</div>
<div class="actions">
    <%= link_to content_tag(:span, @post.votes_count), vote_path(@post), :class => 'vote' %>
    <%= link_to content_tag(:span, 'Edit'), new_child_post_path(@post), :class => 'edit', :rel => 'nofollow' %>
    <a href="#" class="comments"><span>Comments</span></a>
</div>
<div class="title">
    <h1>
        <%= best_in_place_if @post.user == current_user, @post, :title %>
        <span class="by">by <%= link_to @post.user.username, name_user_path(@post.user.username) %></span>
    </h1>
</div>
<!--
<div class="row">
  <div class="span8">
    <div class="posts-show-header">
	<%= render :partial => 'ranking', :locals => {:post => @post} %><%# TODO: Show which users voted %>
	<h1>
          <%= best_in_place_if @post.user == current_user, @post, :title %>
          <span class="by">by <%= link_to @post.user.username, name_user_path(@post.user.username) %></span>
        </h1>
    </div>

</div>
<div class="span4">
  	<div class="actions">
		<%= link_to content_tag(:span, 'Draww on this image'), new_child_post_path(@post), :class => 'btn', :rel => 'nofollow' %>
		<% if belongs_to_current_user(@post) %>
			<%= link_to content_tag(:span, 'Delete'), @post, :class => 'btn btn-danger', :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</div>
	<p>
	  <h3>Description:</h3>
	  <%= best_in_place_if @post.user == current_user, @post, :description, :type => :textarea %>
	</p>

	<p>
	  <h3>Tags:</h3>
	  <%= tag_links(@post) %>
		<%# TODO: find a way to get in-place tag add/delete %>
	</p>

	<h3>Comments</h3>
	<div id="comments">
		<%= render @post.comments - [@comment] %>
	</div>

	<h3>Add a comment:</h3>
	<%= form_for([@post, @comment], :remote => true) do |f| %>
		<%= render "shared/error_messages", :target => @comment %>
		<%= f.text_area :body, :cols => 35, :rows => 6, :class => 'span4' %>
	    <%= f.submit %>
	<% end %>
	
        <% unless @post.parents.empty? and @post.inverse_relationships.empty? %>
          <ul class="thumbnails">          
            <% for parent in @post.parents %>
              <li class="span2">
                <%= link_to(image_tag(parent.photo(:thumb))+content_tag(:h4, 'Parent'), parent, :class => 'thumbnail parent') %>
              </li>
            <% end %>
            <% for relationship in @post.inverse_relationships %>
              <li class="span2">
                <%= link_to(image_tag(relationship.post.photo(:thumb))+content_tag(:h4, 'Child'), relationship.post, :class => 'thumbnail child') %>
              </li>
            <% end %>
          </ul>
      <% end %>
  </div>
</div>
<%# link_to 'Edit', edit_post_path(@post) %>
-->
