<div id="title_strip">
	<%= render :partial => 'ranking', :locals => {:post => @post} %><%# TODO: Show which users voted %>
	<h1><%= best_in_place_if @post.user == current_user, @post, :title %></h1>
	<span class="by">by <%= link_to @post.user.username, name_user_path(@post.user.username) %></span>
	<div class="actions">
		<%= link_to content_tag(:span, 'Draww on this image'), new_child_post_path(@post), :class => 'edit button', :rel => 'nofollow' %>
		<a href="#" class="next button grey"><span>Next</span></a><%# TODO: Make Next Link work %>
	</div>
</div>
<div id="show">
	<% if @post.photo.exists? then %>
		<%= image_tag @post.photo.url(:medium), :class => 'medium' %><%# TODO: Should show full screen on click %>
	<% else %>
		<p>Error: No photo.</p>
	<% end %>
	
	<% unless @post.parents.empty? %>
		<div class="parents">
			<h3>Original</h3>
			<% for parent in @post.parents %>
			<%= link_to(image_tag(parent.photo(:thumb)), parent, :class => 'relation') %>
			<% end %>
		</div>
	<% end %>
	<% unless @post.inverse_relationships.empty? %>
		<div class="children">
			<h3>Derivatives</h3>
			<% for relationship in @post.inverse_relationships %>
			<%= link_to(image_tag(relationship.post.photo(:thumb)), relationship.post, :class => 'relation') %>
			<% end %>
		</div>
	<% end %>
</div>
<div id="meta">
	<p>
		<% if belongs_to_current_user(@post) %>
			<%= link_to content_tag(:span, 'Delete'), @post, :class => 'delete', :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</p>
	<p>
	  <h3>Description:</h3>
	  <%= best_in_place_if @post.user == current_user, @post, :description, :type => :textarea %>
	</p>

	<p>
	  <h3>Tags:</h3>
	  <%= tag_links(@post) %>
		<%# TODO: find a way to get in-place tag add/delete %>
	</p>

	<h3>Comments</h3>
	<div id="comments">
		<%= render @post.comments - [@comment] %>
	</div>

	<h3>Add a comment:</h3>
	<%= form_for([@post, @comment], :remote => true) do |f| %>
		<%= render "shared/error_messages", :target => @comment %>
		<div class="field">
			<%= f.text_area :body, :cols => 35, :rows => 6 %>
		</div>
	    <%= f.submit %>
	<% end %>
</div>

<%# link_to 'Edit', edit_post_path(@post) %>

