<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Purpose:</b>
  <%= @post.purpose %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Tags:</b>
  <%= join_tags(@post) %>
</p>

<% if @post.photo.exists? then %>
<p>Photo: <%= image_tag @post.photo.url(:medium) %></p>
<% else %>
<p>No photos here</p>
<% end %>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
	<% if defined? @comment %>
 	<% if @comment.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			<ul>
			<% @comment.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<% end %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
