<div class="user_sessions_form">
	<%= form_for(@user_session) do |f| %>
	  <%= render "shared/error_messages", :target => @user_session %>

		<%= f.label :username %>
	    <%= f.text_field :username %>
		<%= f.label :password %>
	    <%= f.password_field :password %>
	    <%= f.submit "Login" %>

	<% end %>
</div>
