<!DOCTYPE html>
<html>
<head>
  <title>Draww</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<header>
	<div id="header_nav">
		<div class="inner">
			<%= link_to content_tag(:span, "Draww.co"), root_path, :id => 'site_title' %>
			<nav class="user_actions">
				<% if current_user %>
					<%# TODO: Move "Edit Profile" to BIP on users/show %>
					<div class="msg">Hello, <span><%= current_user.username %></span></div>
					<%= link_to "New", new_post_path %>
					<%= link_to "My Images", name_user_path(current_user.username) %>
					<%= link_to "Profile", edit_user_path(current_user.id) %>
					<%= link_to "Logout", :logout %>
				<% else %>
					<%= link_to "Login", login_path %>
					<%= link_to "Sign Up", new_user_path %>
				<% end %>
			</nav>
		</div>
	</div>
	<%= render 'shared/flashes' %>
</header>

<div role="main" id="view">
<%= yield %>
</div>

<footer>
	<div class="inner">
		Footer here
		<%# TODO: Add Creative Commons notice + main social media links + contact %>
	</div>
</footer>
</body>
</html>
