<!DOCTYPE html>
<html>
<head>
  <title>Draww</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<header>
	<%= link_to content_tag(:span, "Draww.co"), root_path, :id => 'site_title' %>
</header>
<nav class="user">
	<% if current_user %>
		<div class="msg">Logged in as <strong><%= current_user.username %></strong></div>
		<%= link_to "Edit Profile", edit_user_path(current_user.id), :class => 'button' %>
		<%= link_to "My Images", name_user_path(current_user.username), :class => 'button green' %>
		<%= link_to "Logout", :logout, :class => 'button light' %>
	<% else %>
		<div class="logged_in">
			<%= render 'user_sessions/form' %>
			<%= link_to "Sign Up", new_user_path, :class => 'button green' %>
		</div>
	<% end %>
</nav>

<%= render 'shared/flashes' %>

<div role="main" id="view">
<%= yield %>
</div>

<footer>
	Footer here
</footer>
</body>
</html>
